<!DOCTYPE html>
<html lang="en" xmlnms:th="http://www.thymeleaf.org" xmlns:xmlnms="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>
<body>

<div class="container"></div>
    <h3>Employee Directory</h3>
<hr>
    <a th:href = "@{/employees/showFormForAdd}"
    class = "btn btn-primary btn-sm mb-3">
        Add Employee
    </a>


    <table class = "table table-bordered table-striped">
        <thead class = "table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
    <tbody>
        <tr th:each = "tempEmployee:${employees}">
            <td th:text="${tempEmployee.firstName}"></td>
            <td th:text="${tempEmployee.lastName}"></td>
            <td th:text="${tempEmployee.email}"></td>

            <td>
                <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
                class = "btn btn-info btn-sm"
                    onclick="if(!(confirm('Are you sure to update this employee?')))return false">
                Update
                </a>
                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
                   class = "btn btn-danger btn-sm"
                onclick="if(!(confirm('Are you sure you want to delete this employee?')))return false">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
    </table>

</body>
</html>