<!DOCTYPE html>
<html lang="en" xmlnms:th="http://www.thymeleaf.org" xmlns:xmlnms="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

    <title>Save Employee</title>
</head>
<body>

<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <p class = "h4 mb-4">Save Employee</p>

    <form actiom="#" th:action = "@{/employees/save}"
                     th:object="${employee}" method = "POST">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{firstName}"
                class="form-control mb-4 col-4" placeholder="First Name">
        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last Name">
        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="email">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href = "@{/employees/list}"> Back to Employees</a>
</div>
</body>
</html>